body {
  font-size: 18px;
}

table {
  width: 500px;
  border-collapse: collapse;
}

caption {
  font-size: 1.3em;
  font-weight: bolder;

  padding: 8px;
}

td, th {
  border: 1px solid black;
  
  padding: 8px;
}