body {
  font-family: Arial, Helvetica, sans-serif;
}

table {
  width: 500px;
  border-collapse: collapse; 
}

caption {
  font-size: 1.5em;
  font-weight: bold;

  padding: 10px;

  background-color: lightgray;
}

td, th {
  border: 1px solid black;

  padding: 10px;
}

th {
  background-color: gray;
  color: white;
}

thead > tr > th {
  position: sticky;
  top: -2px;
  background-color: #383838;
}

tbody > tr:nth-child(2n) {
  background-color: lightgray;
}

.number {
  text-align: right;
}