body {
  height: 100vh;
  background-color: black;
  background-image: url('../images/wallpaper002.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

main {
  background-color: white;
  max-width: 700px;
  padding: 10px;
  margin: auto;
  border: 2px solid darkblue;
  border-radius: 15px;
}